In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# read the csv file into a data frame
unfiltered_df = pd.read_csv('data\\lagos-rent.csv')

In [14]:
# get a sense/clearer picture of the data we are working with
print(unfiltered_df.columns)
print(unfiltered_df.head())

Index(['Title', 'More Info', 'Price', 'Serviced', 'Newly Built', 'Furnished',
       'Bedrooms', 'Bathrooms', 'Toilets', 'City', 'Neighborhood'],
      dtype='object')
                                               Title  \
0  Newly Built 4 Bedroom Semi Detached House With Bq
1      Superb 4 Bedroom Semi Detached Duplex With Bq
2    Furnished 2 Bedroom Terrace Duplex For Rent !!!
3                       2 Bedroom Apartment For Rent
4                  4 Bedroom Terrace Duplex For Rent

                  More Info           Price  Serviced  Newly Built  Furnished  \
0  4 BEDROOM HOUSE FOR RENT  5,000,000/year         0            1          0
1  4 BEDROOM HOUSE FOR RENT  5,000,000/year         0            1          0
2  2 BEDROOM HOUSE FOR RENT       3,500,000         1            0          0
3  2 BEDROOM HOUSE FOR RENT       2,700,000         1            1          0
4  4 BEDROOM HOUSE FOR RENT       4,000,000         1            0          0

  Bedrooms Bathrooms    Toilets   City  Neighborhood
0   4 beds   4 baths  5 Toilets  Lekki        Agungi
1   4 beds   4 baths  5 Toilets  Lekki   Other Lekki
2   2 beds   3 baths  3 Toilets  Lekki  Osapa London
3   2 beds   3 baths  3 Toilets  Lekki       Ologolo
4   4 beds   5 baths  5 Toilets  Lekki       Chevron